/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Shadows+Into+Light|Varela+Round|Roboto');


:root {

  --primary-dark: #0493ad;
  --primary-base: #026f83;
  --secondary-base: #ff8700;
  /*  --primary-base: #00A094;*/
  /*  --primary-dark: #007d74;*/
  /*  --secondary-base: #FFA700;*/
  --light-gray-web: #eaecef;
  --light-gray: #dddddd;
  --overlay-gray: #888888;
  --dark-gray: #555555;
  --font-gray: #24292e;
}


html {
  background-color: var(--primary-dark);
}

body {
  font-family: 'Roboto', Arial, sans-serif;
  background-color: transparent;
  margin: 0;
}


/* Navigation Bar */
#nav-bar {
  position:fixed;
  width: 60px;
  height: 100vh;
  background: white;
  z-index: 5;
}

#nav-bar.transform-active {
  width: 210px;
}

.transform {
  -webkit-transition: all 0.2s ease;  
  -moz-transition: all 0.2s ease;  
  -o-transition: all 0.2s ease;  
  -ms-transition: all 0.2s ease;  
  transition: all 0.2s ease;
}

.menu-item {
  height: 60px;
  overflow:hidden;
  display: block;
  background-color: white;
}

.menu-item-text {
  position: relative;
  padding-top: 16px;
  padding-left: 5px;
  font-size: 1.25em;
  width: 150px;
  float: right;
  overflow: hidden;
}

#nav-expand-menu-item {
  height: 60px;
  width: 100%;
  overflow:hidden;
  background-color: white;
}

.nav-expand-button-icon {
  float:right;
}

.menu-icon {
  height: 60px;
  width: 60px;
  padding: 3px;
  color: var(--primary-base);
}

.separator {
  width: 100%;
  height: 2px;
  background: var(--light-gray);
}

.nav-selected {
  background-color: var(--primary-base) !important;
  color: white !important;
}

.nav-selected > .menu-icon {
  color: white !important;
  fill: #fff;
}





/* Canvas */
#canvas-container {
  margin: 0;
  position: absolute;
  display: block;
  top: 50%;
  left: calc(50% + 30px);
  transform: translate(-50%, -50%);

  height: 60vw;
  max-height: 90vh;
  width: calc(90vw - 60px);
  max-width: 135vh;

  /*    width: 120vh;*/
}

#main-canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
}

#front-canvas {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
}

#side-icon-container {
  position: absolute;
}

.side-icon {
  font-size: 32px;
  margin: 7px;
  height: 47px;
  width: 47px;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

#intro-overlay {
  color: var(--overlay-gray);
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: center;
}

#intro-overlay div:nth-child(1) {
  margin-top: 20%;
  font-size: 2.4em;
  font-family: 'Varela Round', Arial, sans-serif;
}

#intro-overlay div:nth-child(2) {

  font-size: 2.2em;
  font-family: 'Dancing Script', cursive;
}

#intro-overlay div:nth-child(3) {
  margin-top: 5%;
  color: var(--light-gray);
  font-size: 2.7em;
  font-family: 'Shadows Into Light', cursive;
}

#canvas-score-board {
  z-index: 3;
  position: absolute;
  padding-top: 14px;
  padding-left: 20px;
}




/* Note */
#note {
  position: absolute;
  display: none;
  left: 60px;
  width: calc(100% - 60px);
  min-height: 100vh;
  background-color: white;
}

.note-header {
  font-size: 1.7em;
  padding: 30px;
  background-color: var(--primary-base);
  color: white;
}

.note-body {
  padding-bottom: 300px;
}

.note-body h1 {
  margin-top: 60px;
  border-bottom: 1px solid #eaecef;
  padding-bottom: 7px;
}

.note-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 17px 25px 15px;
  font-size: 0.8em;
  color: #888888;
  background-color: var(--dark-gray);
}

.note-footer .height-align {
  line-height: 1.9em;
}

.page-load-hide {
  display: none;
}

#email-info {
  width: 30px;
  height: 30px;
  margin-top: -3px;
  cursor: pointer;
}






/* Modals */
.modal-body label {
  margin-top: 20px;
  margin-right: 12px;
}








.btn-app-primary {
  color: #fff;
  background-color: var(--primary-dark) !important;
  border-color: var(--primary-dark) !important;
}

.btn-app-primary:hover, .btn-app-primary:focus {
  background-color: var(--primary-base) !important;
}

.btn-outline-app-primary {
  border-color: var(--primary-dark) !important;
  background-color: #fff !important;
  color: var(--primary-dark) !important;
}

.btn-outline-app-primary:hover, .btn-outline-app-primary:focus {
  background-color: var(--primary-dark) !important;
  color: #fff !important;
}

.dropdown-item.active {
  background-color: var(--primary-dark) !important;
  color: #fff !important;
}

.bg-app-primary {
  background-color: var(--primary-dark);
}






/* UI Elements - Slider*/
.slider {
  width: 200px;
  display: inline-block;
  margin-right: 12px;
}

.slider .ui-slider-handle {
  height: 14px !important;
}

.ui-slider-horizontal {
  height: 6px !important;
  width: 200px;
}

.slider .ui-slider-range {
  background: var(--primary-base);
}

.slider-value {
  margin-right: 10px;
  border: 1px solid var(--light-gray);
  border-radius: 5px;
  width: 35px;
  font-size: 0.8em;
  text-align: center;
  display: inline-block;
}

/* UI Elements - Selectmenu*/
.ui-menu-item-wrapper {
  font-size: 0.8em;
}

.ui-menu-item-wrapper.ui-state-active {
  background: lightgray !important;
}

.ui-selectmenu-button > span {
  font-size: 0.8em !important;
}

.ui-selectmenu-button {
  padding: 5px 15px !important;
}


/* UI Elements - Checkbox*/
.checkbox-container {
  display: inline;
  width: 200px;
  margin: 10px 0;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  color: var(--dark-gray);
  font-size: 0.9em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: var(--primary-base);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 6px;
  top: 2px;
  width: 6px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}





/* Shadows */
.lvl1 {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
.lvl2 {
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 8px 17px 0 rgba(0, 0, 0, 0.2);
}






@media (orientation:portrait) {
  #side-icon-container {
    width: 210px;
  }

  #side-icon-container.position1 {
    transform: translate(0%, -100%);
  }

  #side-icon-container.position2 {
    transform: translate(-100%, -100%);
    left:100%;
  }

  #side-icon-container.position3 {
    top:100%;
  }

  #side-icon-container.position4 {
    top:100%;
    left:100%;
    transform: translate(-100%, 0%);
  }

  .side-icon {
    display: inline-block !important;
  }
}

@media (orientation:landscape) {
  #side-icon-container.position1 {
    transform: translate(-100%, 0%);
  }

  #side-icon-container.position2 {
    left:100%;
  }

  #side-icon-container.position3 {
    top:100%;
    transform: translate(-100%, -100%);
  }

  #side-icon-container.position4 {
    top:100%;
    left:100%;
    transform: translate(0%, -100%);
  }

  .side-icon {
    display: block !important;
  }
}







/*

.transform-active {
width: 250px;
color: red;
}
*/
/*
body {
font-family: "Open Sans", sans-serif;
padding: 5px 25px;
font-size: 18px;
margin: 0;
color: #444;
}

h1 {
font-family: "Merriweather", serif;
font-size: 32px;
}
*/
