/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Shadows+Into+Light|Varela+Round|Roboto');


:root {
  
  --primary-dark: #0493ad;
  --primary-base: #026f83;
  --secondary-base: #ff8700;
/*  --primary-base: #00A094;*/
/*  --primary-dark: #007d74;*/
/*  --secondary-base: #FFA700;*/
  --light-gray-web: #eaecef;
  --light-gray: #dddddd;
  --overlay-gray: #888888;
  --dark-gray: #555555;
  --font-gray: #24292e;
}


html {
  background-color: var(--primary-dark);
}

body {
  font-family: 'Roboto', Arial, sans-serif;
  background-color: transparent;
  margin: 0;
}


/* Navigation Bar */
#nav-bar {
  position:fixed;
  width: 60px;
  height: 100vh;
  background: white;
  z-index: 5;
}

#nav-bar.transform-active {
  width: 210px;
}

.transform {
  -webkit-transition: all 0.2s ease;  
  -moz-transition: all 0.2s ease;  
  -o-transition: all 0.2s ease;  
  -ms-transition: all 0.2s ease;  
  transition: all 0.2s ease;
}

.menu-item {
  height: 60px;
  overflow:hidden;
  display: block;
  background-color: white;
}

.menu-item-text {
  position: relative;
  padding-top: 16px;
  padding-left: 5px;
  font-size: 1.25em;
  width: 140px;
  float: right;
  overflow: hidden;
}

#nav-expand-menu-item {
  height: 60px;
  width: 100%;
  overflow:hidden;
  background-color: white;
}

#nav-expand-button-icon {
  float:right;
}

.menu-icon {
  font-size: 30px;
  height: 100%;
  width: 60px;
  text-align: center;
  padding-top: 9px;
  color: var(--primary-base);
  margin: 0;
}

.separator {
  width: 100%;
  height: 2px;
  background: var(--light-gray);
}

.nav-selected {
  background-color: var(--primary-base) !important;
  color: white !important;
}

.nav-selected > .menu-icon {
  color: white !important;
}





/* Canvas */
#canvas-container {
  margin: 0;
  position: absolute;
  display: block;
  top: 50%;
  left: calc(50% + 30px);
  transform: translate(-50%, -50%);

  height: 60vw;
  max-height: 90vh;
  width: calc(90vw - 60px);
  max-width: 135vh;

  /*    width: 120vh;*/
}

#main-canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
}

#front-canvas {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
}

#side-icon-container {
  position: absolute;
}

.side-icon {
  font-size: 32px;
  margin: 7px;
  height: 47px;
  width: 47px;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

#intro-overlay {
  color: var(--overlay-gray);
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: center;
}

#intro-overlay div:nth-child(1) {
  margin-top: 20%;
  font-size: 2.4em;
  font-family: 'Varela Round', Arial, sans-serif;
}

#intro-overlay div:nth-child(2) {

  font-size: 2.2em;
  font-family: 'Dancing Script', cursive;
}

#intro-overlay div:nth-child(3) {
  margin-top: 5%;
  color: var(--light-gray);
  font-size: 2.7em;
  font-family: 'Shadows Into Light', cursive;
}

#sometext {
  z-index: 3;
  position: absolute;
}




/* Note */
#note {
  margin-top: 30px;
  position: absolute;
  display: none;
  left: calc(50% + 30px);
  transform: translate(-50%, 0);

  width: calc(90vw - 60px);
  max-width: 1200px;
  background-color: white;
}

#note.nav-open {
  left: calc(50% + 105px);
  width: calc(90vw - 210px);
}

#note-header {
  font-size: 1.7em;
  padding: 30px;
  background-color: var(--primary-base);
  color: white;
}

#note-body {
  font-family: Arial, sans-serif;
  color: var(--font-gray);
  padding: 0px 70px 100px;
}

#note-body h1 {
  margin-top: 60px;
  border-bottom: 1px solid #eaecef;
  padding-bottom: 7px;
}

#note-footer {
  padding: 17px 25px 15px;
  font-size: 0.8em;
  color: #888888;
  background-color: var(--dark-gray);
}

#note-footer .height-align {
  line-height: 1.9em;
}

.page-load-hide {
  display: none;
}







/* Modals */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  z-index: 10;
}

#settings-modal {
  display: none;
}

.modal-content {
  position: relative;
  background-color: #ffffff;
  margin: auto;
  padding: 0;
  /*border: 1px solid #888;*/
  width: 80vw;
  max-width: 800px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  padding-bottom: 10px;
}

.modal-padding {
  height: 40px;
}

@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

.modal-header {
  min-height: 50px;
  background-color: var(--primary-base);
  color: white;
}

.modal-header > span {
  padding: 20px;
  line-height: 38px;
  font-size: 1.7em;
  display: inline-block;
}

.modal-body {
  padding: 2px 16px;
}

.modal-body-content {
  margin: 50px;
  background-color: white;
}

#wacom-warning-setting {
  text-align: center;
  border: 1px solid red;
  border-radius: 7px;
  background-color: pink;
  padding: 15px;
  margin-bottom: 40px;
}

.modal-setting > label {
  margin-bottom: 7px;
  display: block;
}

.modal-separator {
  display: block;
  height: 50px;
}

.close-button {
  float: right;
  padding: 14px !important;
}

.close-button:hover {
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.input-reset {
  height: 50px;
  width: 50px;
  /*border: 1px solid black;*/
  position: absolute;
  bottom: 50px;
  right: 50px;
  overflow: hidden;
  color: var(--primary-dark);
}

.input-reset > p {
  text-overflow: clip;
  overflow: hidden;
  display:none;
  margin: 15px;
  position:absolute;
  height: 20px;
}

.input-reset-icon {
  padding: 2px;
  font-size: 1.7em;
  float: right;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.input-reset:hover{
  color: white;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  background-color: var(--primary-dark);
  -webkit-animation-name: animateReset;
  -webkit-animation-duration: 0.2s;
  animation-name: animateReset;
  animation-duration: 0.2s;
  width: 190px;
}

.input-reset:hover > p {
  display: inline-block;
}

.input-reset:hover > span {
  text-shadow: none;
}

@-webkit-keyframes animateReset {
  from {width: 50px} 
  to {width: 190px}
}

@keyframes animateReset {
  from {width: 50px} 
  to {width: 190px}
}








/* UI Elements - Slider*/
.slider {
  width: 200px;
  display: inline-block;
  margin-right: 12px;
}

.slider .ui-slider-handle {
  height: 14px !important;
}

.ui-slider-horizontal {
  height: 6px !important;
  width: 200px;
}

.slider .ui-slider-range {
  background: var(--primary-base);
}

.slider-value {
  margin-right: 10px;
  border: 1px solid var(--light-gray);
  border-radius: 5px;
  width: 35px;
  font-size: 0.8em;
  text-align: center;
  display: inline-block;
}

/* UI Elements - Selectmenu*/
.ui-menu-item-wrapper {
  font-size: 0.8em;
}

.ui-menu-item-wrapper.ui-state-active {
  background: lightgray !important;
}

.ui-selectmenu-button > span {
  font-size: 0.8em !important;
}

.ui-selectmenu-button {
  padding: 5px 15px !important;
}


/* UI Elements - Checkbox*/
.checkbox-container {
  display: block;
  width: 140px;
  margin: 10px 0;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  color: var(--dark-gray);
  font-size: 0.9em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: var(--primary-base);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 6px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}





/* Shadows */
.lvl1 {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
.lvl2 {
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 8px 17px 0 rgba(0, 0, 0, 0.2);
}






@media (orientation:portrait) {
  #side-icon-container {
    width: 210px;
  }
  
  #side-icon-container.position1 {
    transform: translate(0%, -100%);
  }

  #side-icon-container.position2 {
    transform: translate(-100%, -100%);
    left:100%;
  }

  #side-icon-container.position3 {
    top:100%;
  }

  #side-icon-container.position4 {
    top:100%;
    left:100%;
    transform: translate(-100%, 0%);
  }
  
  .side-icon {
    display: inline-block !important;
  }
}

@media (orientation:landscape) {
  #side-icon-container.position1 {
    transform: translate(-100%, 0%);
  }

  #side-icon-container.position2 {
    left:100%;
  }

  #side-icon-container.position3 {
    top:100%;
    transform: translate(-100%, -100%);
  }

  #side-icon-container.position4 {
    top:100%;
    left:100%;
    transform: translate(0%, -100%);
  }
  
  .side-icon {
    display: block !important;
  }
}







/*

.transform-active {
width: 250px;
color: red;
}
*/
/*
body {
font-family: "Open Sans", sans-serif;
padding: 5px 25px;
font-size: 18px;
margin: 0;
color: #444;
}

h1 {
font-family: "Merriweather", serif;
font-size: 32px;
}
*/
