/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto');


:root {
  --primary-base: #00A094;
  --primary-dark: #007d74;
  --secondary-base: #FFA700;
  --light-gray: #DDDDDD;
}


html {
  background-color: var(--primary-dark);
}

body {
  font-family: 'Roboto', sans-serif !important;
  background-color: transparent;
  margin: 0;
}


/* Navigation Bar */
#nav-bar {
  position:fixed;
  width: 60px;
  height: 100vh;
  background: white;
  z-index: 5;
}

#nav-bar.transform-active {
  width: 210px;
}

.transform {
  -webkit-transition: all 0.2s ease;  
  -moz-transition: all 0.2s ease;  
  -o-transition: all 0.2s ease;  
  -ms-transition: all 0.2s ease;  
  transition: all 0.2s ease;
}

.menu-item {
  height: 60px;
  width: 100%;
  overflow:hidden;
  display: block;
  background-color: white;
}

.menu-item-text {
  position: relative;
  padding-top: 16px;
  padding-left: 5px;
  font-size: 20px;
  width: 140px;
  float: right;
  overflow: hidden;
}

#nav-expand-menu-item {
  height: 60px;
  width: 100%;
  overflow:hidden;
  background-color: white;
}

#nav-expand-button-icon {
  float:right;
}

.menu-icon {
  font-size: 30px;
  height: 100%;
  width: 60px;
  text-align: center;
  padding-top: 9px;
  color: var(--primary-base);
  margin: 0;
}

.separator {
  width: 100%;
  height: 2px;
  background: var(--light-gray);
}

.nav-selected {
  background-color: var(--primary-base) !important;
  color: white !important;
}

.nav-selected > .menu-icon {
  color: white !important;
}





/* Canvas */
#canvas-container {
  margin: 0;
  position: absolute;
  top: 50%;
  left: calc(50% + 30px);
  transform: translate(-50%, -50%);

  height: 60vw;
  max-height: 90vh;
  width: calc(90vw - 60px);
  max-width: 135vh;

  /*    width: 120vh;*/
}

#main-canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
}

#front-canvas {
  position: absolute;
  width: 100%;
  height: 100%;
}

.side-icon {
  font-size: 30px;
  height: 40px;
  width: 40px;
  position: absolute;
  top: 100%;
  left: 100%;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

#sometext {
  position: absolute;
}





/* Modals */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  z-index: 10;
}

.modal-content {
  position: relative;
  background-color: #ffffff;
  margin: auto;
  padding: 0;
  /*border: 1px solid #888;*/
  width: 80vw;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  padding-bottom: 10px;
}

@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

.modal-header {
  min-height: 50px;
  background-color: var(--primary-base);
  color: white;
}

.modal-header > span {
  padding: 20px;
  line-height: 38px;
  font-size: 25px;
  display: inline-block;
}

.modal-body {
  padding: 2px 16px;
}

.modal-body-content {
  margin: 50px;
  background-color: white;
}

.modal-body-content > p {
  margin-top: 40px;
  margin-bottom: 10px;
}

.close-button {
  float: right;
  padding: 14px !important;
}

.close-button:hover {
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

input[type=range] {
  margin: 0;
  display: inline-block;
  width: 200px;
}

.input-value {
  width: 40px;
  font-size: 16px;
  text-align: center;
  display: inline-block;
}

.input-reset {
  height: 50px;
  width: 50px;
  /*border: 1px solid black;*/
  position: absolute;
  bottom: 50px;
  right: 50px;
  overflow: hidden;
  color: var(--primary-dark);
}

.input-reset > p {
  text-overflow: clip;
  overflow: hidden;
  display:none;
  margin: 15px;
  position:absolute;
  height: 20px;
}

.input-reset-icon {
  padding: 2px;
  font-size: 34px;
  float: right;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.input-reset:hover{
  color: white;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  background-color: var(--primary-dark);
  -webkit-animation-name: animateReset;
  -webkit-animation-duration: 0.2s;
  animation-name: animateReset;
  animation-duration: 0.2s;
  width: 190px;
}

.input-reset:hover > p {
  display: inline-block;
}

.input-reset:hover > span {
  text-shadow: none;
}


@-webkit-keyframes animateReset {
  from {width: 50px} 
  to {width: 190px}
}

@keyframes animateReset {
  from {width: 50px} 
  to {width: 190px}
}







/* Shadows */
.lvl1 {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
.lvl2 {
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 8px 17px 0 rgba(0, 0, 0, 0.2);
}






@media (orientation:portrait) {
  .side-icon1 {
    transform: translate(-95%, 30%);
  }

  .side-icon2 {
    transform: translate(-220%, 30%);
  }

  .side-icon3 {
    transform: translate(-345%, 30%);
  }
}

@media (orientation:landscape) {
  .side-icon1 {
    transform: translate(30%, -95%);
  }

  .side-icon2 {
    transform: translate(30%, -220%);
  }

  .side-icon3 {
    transform: translate(30%, -345%);
  }
}







/*

.transform-active {
width: 250px;
color: red;
}
*/
/*
body {
font-family: "Open Sans", sans-serif;
padding: 5px 25px;
font-size: 18px;
margin: 0;
color: #444;
}

h1 {
font-family: "Merriweather", serif;
font-size: 32px;
}
*/
